.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.play-button {
	background: url('img/play-button.png') no-repeat 57% center;
	background-size: 35px;
	border-radius: 100%;
	border: 1px solid #fff;
	display: inline-block;
	height: 85px;
	width: 85px;
	line-height: 85px;
	transition: .25s all;
	&:hover {
		background-color: $color__brand;
	}
}

.play-text {
	color: #fff;
	font-size: 12px;
	display: block;
	margin-top: 0em;
}

.play-wrap {
	max-width: 50%;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.video_wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video_wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";