.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.play-button {
	background: url('img/play-button.png') no-repeat 57% center;
	background-size: 35px;
	border-radius: 100%;
	border: 1px solid #fff;
	display: inline-block;
	height: 85px;
	width: 85px;
	line-height: 85px;
}

.play-wrap {
	max-width: 50%;
	text-align: center;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";