input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.gform_wrapper {
	input[type=text],
	input[type=email],
	textarea {
		background: none;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid rgba(255,255,255,.2);
		color: #fff;
		outline: none;
	}
	textarea {
		margin-top: .75em;
	}
	.hide-labels {
		.ginput_complex {
			label {
				display: none;
			}
		}
	}
}

.gform_wrapper.footer-form_wrapper {
	margin-bottom: 3em;
	max-width: 100%;
	
	.gform_footer {
		text-align: center;
		input.button {
			border: none;
			background: $color__highlight;
			box-shadow: none;
			color: #fff;
			text-shadow: none;
			border-radius: 50px;
			height: 40px;
			line-height: 40px;
			padding: 0 35px;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 1px;
		}
	}
}
