// Logo

.site-header {
	background: none;
	position: absolute;
	width: 100%;
	padding: $size__margin;
	height: $size__heading-height;
	z-index: 1;
}

.site-branding {
	float: left;
}

.site-logo {
	margin: 0;
	a {
		background: url('img/salt-and-light-logo.png') no-repeat;
		background-size: contain;
		display: block;
		text-indent: -500px;
		overflow: hidden;
		width: 130px;
		height: 129px;		
	}
}